*.log
*.yml
!/.github/*.yml
!/.github/**/*.yml
.env.local
.idea/
.vscode/
*.png
*.ttf
*.gif
*.ipynb
venv/
.venv/
__pycache__/
/dist/
/logs/
/maplebot.egg-info/

/response/
/player_data/
/data/
/assets/
/config/
/chat_images/
/chat_images1/
player_name.json